
*{

    margin: 0;

}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{

    color: #FD6E0A;

}

.secondary-bg{

    background-color: #FFF8F3;

}

.text-center{

    text-align: center;
    padding: 0 115px;
    
}

.section-description{

    margin-bottom: 50px;

}

.dark-2{
    color: #474747;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    margin-right: 30px;

}

/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{

    font-size: 45px;
    font-weight: 800;

}

nav ul li{

    list-style: none;
    margin-right: 50px;

}

nav li a{

    text-decoration: none;
    font-size: 20px;

}

nav ul{
    display: flex;
    align-items: center;
    
}

/* header */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 10px;
    /* margin: 35px 71px 25px 25px; */
}


/* banner section */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
    /* padding-top: 10px; */

}

.banner-content{
    max-width: 580px;
}

.banner-greeting{

    font-size: 45px;
    font-weight: 600;

}

.banner-title{

    font-weight: 800;
    font-size: 85px;
    
}

.banner-description{

    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;

}

.banner-profile{

    width: 580px;

}


/* about me section */

.section-title{

   font-size: 35px;
   font-weight: bold;
   color: #181818;
   margin-bottom: 30px;

}

.section-description{

    font-size: 18px;
    font-weight: 400;
    color: #757575;
   text-decoration: justify;

}

/* main styles */

main{

    max-width: 1140px;
    margin: 0 auto;

}

.about{

    border-radius: 10px;
    margin: 130px 0;
    padding: 130px 155px;
    text-align: center;

}

.about-items{

    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

.item-title{

    font-size: 20px;
    font-weight: 700;
    color: #757575;

}

.item-description{

    font-size: 20px;
    font-weight: 700;
    color: #757575;
}

/* skills-section */

.skills-container{

    display: flex;
    gap: 24px;
    padding: 30px;
    margin-bottom: 130px;

}

.skill-title{

    margin-top: 30px;
    margin-bottom: 30px;

}

.skill-ddescription{

    text-decoration: justify;
    font-size: 16px;
    font-weight: 400;

}

.skill{

    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* section */

.section-title{

    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 110px;

}

/*    resume section */

.resume-container{

    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}

.experience-description{

    font-size: 16px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-top: 20px;
    margin-bottom: 30px;

}

.experience-sub-title{

    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(117, 117, 117);

}

.experience-title{

    font-size: 25px;
    font-weight: 700;
    color: rgb(71, 71, 71);
    margin-top: 30px;

}

.btn{
    margin-bottom: 130px;
}

/* footer styles */

footer{

    display: flex;
    gap: 100px;
    background-color:#FFF8F3;
    padding: 130px 230px;

}

.footer-column{

    width: 50%;

}

.footer-description{

    margin-top: 20px;
    margin-bottom: 30px;

}

.social-links a{

    margin-right: 25px;

}

.secction-title{

    margin-bottom: 28px;

}

.contact-form input[type="text"], input[type="email"], textarea{

    display: block;
    margin-bottom: 25px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 18px 0px 18px 30px;
    width: 100%;
    border: 0;


}